<form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordReset()">
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="controls.password">
      <mat-error *ngIf="controls.password.invalid">{{ getErrorMessage(controls.password) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Retype password</mat-label>
      <input type="password" matInput [formControl]="controls.retypedPassword" onpaste="return false;">
      <mat-error *ngIf="controls.retypedPassword.invalid">{{ getErrorMessage(controls.retypedPassword) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button mat-raised-button class="register-button" color="primary" [disabled]="resetPasswordForm.invalid">Set new password</button>
  </div>
</form>

