<section>
  <div class="autocomplete-search">
    <mat-form-field>
      <mat-label>Search products</mat-label>
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="searchProducts()">
        Search
      </button>
    </div>
  </div>
  <div class="products-list">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [length]="totalCount" showFirstLastButtons></mat-paginator>

</section>
