<form [formGroup]="recoverPasswordForm" (ngSubmit)="onPasswordRecover()">
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <input matInput type="email" [formControl]="recoverPasswordForm.controls.email">
      <mat-error *ngIf="recoverPasswordForm.controls.email.invalid">{{ getErrorMessage(recoverPasswordForm.controls.email) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="mt-2 mb-2 d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button mat-raised-button class="submit-button" color="primary" [disabled]="recoverPasswordForm.invalid">Recover password</button>
  </div>
</form>

