<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Adding Products
      </mat-panel-title>
      <mat-panel-description>
        Product Adding Form
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-add-product-form></app-add-product-form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deleting Products
      </mat-panel-title>
      <mat-panel-description>
        Product Deletion Form
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-delete-product-form></app-delete-product-form>
  </mat-expansion-panel>
</mat-accordion>
