/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/ngx-toastr/toastr-bs5-alert';

*, *::before, *::after {
  box-sizing: border-box;
}

mat-form-field {
  width: 50%;
}

.submit-button {
  width: 40%;
}

.link {
  margin-left: 4px;
}

.dialog {
  min-width: 600px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  margin-top: 30px;
  flex-shrink: 0;
}
