<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <input matInput type="email" [formControl]="controls.email">
      <mat-error *ngIf="controls.email.invalid">{{ getErrorMessage(controls.email) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput [formControl]="controls.login">
      <mat-error *ngIf="controls.login.invalid">{{ getErrorMessage(controls.login) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="controls.password">
      <mat-error *ngIf="controls.password.invalid">{{ getErrorMessage(controls.password) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Retype password</mat-label>
      <input type="password" matInput [formControl]="controls.retypedPassword" onpaste="return false;">
      <mat-error *ngIf="controls.retypedPassword.invalid">{{ getErrorMessage(controls.retypedPassword) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button mat-raised-button class="register-button" color="primary" [disabled]="registerForm.invalid">Register</button>
  </div>
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert" *ngIf="errorMessage$ | async as error">
    {{ error }}
  </div>
</form>

