<form>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <input matInput type="email">
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>
  <div class="form-input d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Retype password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button mat-raised-button class="register-button" color="primary">Register</button>
  </div>
</form>

